.ContactSection{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: ce; */
    flex-direction: column;
    gap: 10px;
    
}

.ContactHeader{
    margin-top: 10%;
    color:rgb(138, 43, 226) ;
    font-size: 50px;
    font-weight: bold;
}

.Contact-info{
    display: flex;
    text-align: center;
    font-size: 20px;
    color: rgb(214, 216, 218);
    position: relative;
}

.form-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.form-head{
    font-weight: bold;
    font-size: 30px;
    color:rgb(138, 43, 226) ;
}

.name{
    position: relative;
}

.name input{
    width: 450px;
    height: 45px;
    border: 1px solid rgb(201, 199, 199,0.5);
    outline: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 17px;
    background-color: rgb(116, 117, 117,0.3);
    color: rgb(226, 224, 224);
    padding-left: 47px;
}

.email{
    position: relative;
}

.email input{
      width: 450px;
    height: 45px;
    border: 1px solid rgb(201, 199, 199,0.5);
    outline: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 17px;
      background-color: rgba(136, 138, 138, 0.3);
    color: rgb(226, 224, 224);
    padding-left: 47px;
}


.message{
    position: relative;
}

.message textarea{
    width: 450px;
    height: 150px;
    border: 1px solid rgb(201, 199, 199,0.5);
    outline: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 17px;
      background-color: rgb(116, 117, 117,0.3);
    color: rgb(226, 224, 224);
    padding-left: 47px;
}

.form-card button{
    width: 504px;
    height: 45px;
    border: 1px solid rgb(201, 199, 199,0.1);
    outline: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    background-color:#a855f7;
    transition: all 0.3s ease;
    color: rgb(254, 255, 255);
    font-weight: bold;
    


}


.form-card button:hover{
    transform: scale(1.03);

}

.email-name-img{
    position: absolute;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;

}
.message-img{
    position: absolute;
    width: 30px;
    left: 10px;
    
}

