.PortfolioSection{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    /* margin-bottom: 10%;/ */
    
    
}

.PortSectionHeader{
    margin-top: 5%;
    color:rgb(138, 43, 226) ;
    font-size: 50px;
    font-weight: bold;
}

.PortfolioInfo{
    display: flex;
    width:700px;
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    text-indent: 5px;
    color: rgb(214, 216, 218);
    position: relative;
}

.portfolio-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:50px;

}

.port-card-tech-header{
    text-align: center;
    margin-bottom: 10px;
    font-size: 19px;
    color:rgb(211, 206, 206) ;
    font-weight: bold;
}

.port-card-project-header{
    text-align: center;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
    color: rgb(211, 206, 206);
}

.port-card-project,.port-card-tech{
    width: 650px;
}
.techs-grid{
    
    /* border: 1px solid wheat; */
    display: grid ;
    grid-template-columns: repeat(4,1fr);
    gap:20px;


}

.techs-grid div{
    border-radius: 10px;
    background-color:rgba(143, 139, 139, 0.1) ;
    border: 1px solid rgba(129, 128, 128, 0.6);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(203, 205, 207);
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    

}
.techs-grid div code{
    transition: all 0.3s ease;
}

.techs-grid div:hover{
 transform:scale(1.05);
 background-color:rgba(184, 183, 183, 0.2) ;

}
.techs-grid div img{
    display: block;
    max-width: 60%;
    height:70%;
    transition: all 0.3s ease;
}

.techs-grid div:hover img{
    transform: rotate(8deg);
}
.project-grid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
  

}

.grid-item-project{
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 150px;
    background-color: rgba(143, 139, 139, 0.1) ;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(129, 128, 128, 0.6);
    transition: all 0.3s ease;
    cursor: pointer;
}

.grid-item-project:hover{
    background-color:rgba(194, 191, 191, 0.1) ;
    transform: scale(1.05);
}
.project-header{
    font-size:20px ;
    font-weight: bold;
    color: rgb(136, 32, 233) !important;
}


.grid-item-project div{
    font-size: 17px;
    color: rgb(212, 215, 218);
}

.grid-item-project div a{
    text-decoration: none;
    color: rgb(226, 227, 228);
}

.github-icon-project{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.github-icon-project img{
    width: 30px;
}

.project-header-green{
    color: rgb(128, 247, 128) !important;
}