
*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(3, 3, 29);
  background-position: center;
  background-size:cover;
  color: white;
  font-family: sans-serif; 
  height: 100%;

}

  body::-webkit-scrollbar{
    width: 0;
    height: 0;
  }